body{
    background-color: aqua;
    margin: auto;
    padding: auto;
    background-image: url('../img/cool.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg{
    background-color: rgba(12, 12, 12, 0.575);
    height: inherit;
    width: inherit;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 37px;
}
#a{
    color: white;
}

.signup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    width: 60%;
    min-height: 400px; 
    margin: 33.3px auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    width: 50%;
    min-height: 400px; 
    margin: 33.3px auto;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    padding: 10px;
    margin:  auto;
    width:90%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.603);
}

.btn-div{
    text-align: center;
    margin: 10px;
}

.form-control{
    margin-top: 15px;
    /* border: 1px solid black; */
}
input{
    margin-top: 15px;
    width: 100%;
    padding: 7px;
    border: 1px solid black;
}

h1{
    text-align: center;
}

.btn{
    width: 200px;
    border-radius: 20px;
}

.col{
    margin: none;
    border: none;
    padding: none;
}

p{
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .card {
      width: 100%;
    }
    .signup{
        width: 100%;
    }
    .container{
        width: 100%;
    }
  }